h1 {
    color: #364f6d;
}
h3 {
    color: #364f6d;
}
p {
    color: #5278a5;
}
body {
    background-color: #141d26;
}
input {
    color: #6796ce;
    background-color: #364f6d;
    outline-color: #141d26;
}